.btn-submit {
    transition: 0.2s;
}

.btn-submit:hover {
    background-color: transparent !important;
    color: #0643A0 !important;
    box-shadow: inset 0 0 0 3px #0643A0 !important;
}

.form-control,
.form-select {
    background-color: #f9fafc;
    border: 2px solid #ced1d4;
}

.utility-btns {
    transition: 0.5s;
}

.utility-btns:active {
    transform: scale(0.85);
}
