.btn-login-regis {
    box-shadow: inset 0 0 0 3px #0643A0 !important;
    color: #0643A0;
    transition: 0.2s;
}

.btn-login-regis:hover {
    background-color: #0643A0;
    color: white;
}

.btn-lapor-gds {
    box-shadow: inset 0 0 0 3px #0643A0 !important;
    background-color: #0643A0;
    color: #ffffff;
    transition: 0.2s;
}

.btn-lapor-gds:hover {
    box-shadow: inset 0 0 0 3px #0643A0 !important;
    color: #0643A0;
}

.visiMisi {
    background-color: #0643A0 !important;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);
}

.card-anggota {
    background-color: transparent !important;
    border: none !important;
}

.ci-anggota {
    border-radius: 0px 20px 20px 20px !important;
}

.cb-anggota {
    margin-left: -15px;
    color: #0643A0;
}

.btn-nama {
    box-shadow: inset 0 0 0 3px #0643A0 !important;
    color: #0643A0;
    transition: 0.2s;
}

.btn-nama:hover {
    background-color: #0643A0;
    color: white;
}

.col-4 {
    transition: 0.2s;
}

.col-4:hover {
    transform: scale(1.02);
}

.event {
    background-color: #0643A0;
}

.card-event {
    background-color: transparent !important;
    border: none !important;
    color: white;
}

.cb-event {
    margin-left: -15px;
}

.table-hover tbody tr td {
    color: #565656;
    font-size: 14px;
}

.table-hover tbody tr {
    transition: transform 0.2s ease-in-out;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
    transform: scale(1.01);
}

.custom-table {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.custom-table thead th {
    /* background: #007bff; */
    color: Black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: none;
}

.action-btns a,
.action-btns form {
    display: inline-block;
}

.utility-btns {
    transition: 0.2s;
}

.utility-btns:active {
    transform: scale(0.85);
}

.card-dash {
    transition: 0.3s;
}

.card-dash:hover {
    transform: translateY(-5px) !important;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.358) !important;
}
